# Directories
build/
docs/source/demos/outputs/
docs/source/demos/fortran/
demos/outputs/
psyacc.egg-info/
__pycache__/
.psyclone/

# Specific files
.coverage
docs/source/modules.rst
docs/source/psyacc.rst

# File extensions
*.pyc
