name: Upstream to main

on:
  # Trigger the workflow on certain events
  pull_request:
    branches:
      - "psyclone-3.1.0"
    types: [closed]

jobs:

  open_pr:
    runs-on: ubuntu-latest
    steps:
    - name: Create Pull Request
      if: ${{ github.event.pull_request.merged }}
      uses: peter-evans/create-pull-request@v7.0.8
      with:
        commit-message: Merge changes from ${{ github.event.pull_request.head_ref }}
        title: ${{ github.event.pull_request.title }} - merge to main
        base: main
        labels: automated-pr
        branch: "psyclone-3.1.0"
        delete-branch: false
